# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*.js]
indent_style = space

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
